body{
    margin: 0px;
    background: 
        linear-gradient(-41deg,#e9e0ef , #a8c4e8 , #b664f0);
}
.nav{
    list-style-type: none;
    /* width: 100%; */
    background-color: rgb(105, 106, 120);
    overflow: hidden;
    font-size: larger;
    font-family: "Gill Sans Extrabold", sans-serif;
    padding: 10px;
    margin: 0px 0px 20px 0px;
    overflow: auto;
}

li{
    display: inline;
    display: block;
    padding: 10px 0;
}

li a{
    text-decoration:none;
    text-align: center;
    color:white;
    padding: 0px 55px 0px 55px;

}
li a:hover{
    background-color: rgb(196, 169, 128);
    padding: 20px 25px 20px 25px;
}
/* li a.active{
    background-color: rgb(153, 153, 150);
    padding:30px 55px 20px 55px;
    
} */
/* nav bar dividing */
.menu{
    width: 16.66%;
    float: left;
}

/* search bar */
.searchform {
    width: 100px;
    margin: 0px 8px 0px 0px;
    height: 15px;
    
}

/* search bar rounded */
.rounded {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 55px;
}


/* for logo class*/
.logo{
    padding-top: 5px;
    display: block;
    height: 112px;
    width: 115px;

}
#myvoteheading{
    margin:0;
    padding:0;
    font-family:'Roboto', sans-serif ;
}
#myvotesubheading{
    padding-top: 1px;
    font-family: 'Roboto', sans-serif Impact, 'Arial Narrow Bold', sans-serif;
    margin-top: 1px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(150, 161, 216);
    color: white;
    border: 2px solid black;
  }
.headerrow{
    display: flex;
    flex-wrap: wrap;
    /* background-image: url('../Images/background.png'); */
    margin: 5px 5px 0 5px;
    background-color: #c7c2d6;
}  
.row{
    display: flex;
    flex-wrap: wrap;

}
.footer-cols{
    width:31%;
    padding: 0 15px;
}
.scociallinks a{
    display: inline;
    height: 15px;
    width:15px;
    text-align: center;
    border-radius: 50%;
    color: black;
    padding:5px;

}
/* For headig DIV tags */
.heading-cols{
    width:32.5%;
    padding: 0px 10px 0px 0px;
}
/* Buttons[login signup] */
#loginsignup{
    vertical-align: middle;
    width:100px;
    height:35px;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 25px;
    background-color: lightskyblue;
    cursor: pointer;
}
#loginsignup:hover{
    background-color: lightgreen;
}
/* profile Button */
#profilebtn{
    vertical-align:top;
    margin-left: 10px;
}
/* div{
    border:0.2px solid black;
} */

/*Body*/
.content {
    text-align: center;
    margin: auto;
    width: 38%;
    /* border: 3px solid black; */
    padding: 10px;
    font-family: "Monaco";
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    
}
.heading {
    font-size: 100px;
    font-weight: bold;
    
}
.textbox{
    text-align:left;
    font-family: "Times New Roman";
    font-size:18px;
}
.text {
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.setpadding {
    padding:30px  80px  30px  80px;
}

hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray

}
.error{
    background: #F2DEDE;
    color:#A94442;
    padding : 10px;
    width : 95%;
    border-radius : 5px;
}
#submit{
    /* height: 1.5rem;
    padding : 0 2rem;
    border-radius: 1.5rem; */

    height:30px;
    width: 150px;
    /* background: 
        linear-gradient(-41deg,#9925ea , #338aff , #9925ea); */

        background: 
        linear-gradient(-41deg,#dbcae7 , #8ce9f4 , #d0acea);    

    background-size: 100%;
    background-position: 90% 0;
    color : #0f0101;
    transition: background 0.8s;    
    cursor: pointer;
}
#submit:hover{
    /* background-position: 100% 50%; */
    opacity: .7;
}


input {color: #0b2ee0; }
input:valid { border-color: #55d688; } 
    


